@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
    @apply text-slate-900
           text-sm
           tracking-tight
           leading-normal
           font-medium;
  }

  h1 {
    @apply text-4xl;
  }
}

@layer components {
  .task-container {
    @apply max-w-lg 
               w-full 
               flex 
               flex-col 
               gap-4
               border-slate-200 
               rounded-xl 
               p-16 
               bg-white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  }

  .btn-primary {
    @apply flex 
           items-center 
           gap-2 
           bg-highlight 
           hover:bg-highlight-hover
           text-white
           px-5 
           py-4 
           rounded-lg
           font-medium
           tracking-tight
           transition-colors
           duration-200;
  }

  .task-item {
    @apply border 
           border-slate-200 
           rounded-lg 
           py-4 
           px-5
           text-base
           hover:border-slate-200 
           transition-all duration-200
           bg-white hover:bg-slate-50
           flex items-center gap-4;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    &:hover {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .add-input {
    @apply border 
           border-slate-200 
           rounded-lg 
           py-4 
           px-5 
           text-base
           w-full
           bg-white
           hover:border-slate-200
           transition-all duration-200
           placeholder:text-slate-400;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    &:focus {
      outline: none;
      border-color: theme("colors.slate.300");
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .search-input {
    @apply border-transparent 
           rounded-lg 
           py-4 
           px-5 
           text-base
           w-full
           bg-slate-100
           hover:bg-slate-300
           transition-all duration-200
           placeholder:text-slate-400;
    &:focus {
      outline: none;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .bg-gradient-custom {
    background-image: linear-gradient(
      to bottom right,
      theme("colors.slate.100") 70%,
      theme("colors.highlight.DEFAULT") 200%
    );
  }
}
